

@use '../custom' as *;

.header-section {
     background: url('../../images/intro-bg.png');
	 width: 100%;
	 height: auto;
	 overflow: hidden;
  	.number {
  		padding: 13px 0 10px 10px;
  		font-weight: 700;
  		color: $primary;
  		font-family: "Montserrat", sans-serif;
  	}
  	.menu {
  		li {
  			.nav-link {
	  			padding: 0 !important;
 			}
 			padding-left: 3rem;
  			font-family: "Bebas Neue", sans-serif;
  			a {
	  			text-transform: uppercase;
	  			color: $primary;
	 			letter-spacing: 0.2rem;
	 			font-size: 1.2rem;
	 			font-weight: 500;
	 			&:hover{
	 				color: $white;
	 				transform: scale(1.2);
	 			}
 			}	
  		}
  	}
}

